h1.logo {
  font-family: "H";
  font-size: 3rem;
}

ul.list {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 20px;
}

.list li a {
  margin: 0 1em;
  transition: all ease 0.25s;
  color: white;
  font-weight: 200;
}
.list li a:hover {
  color: gray;
}

button.lol.preview-btn.active {
  background: black;
  color: white;
  padding: 0.75em 1.75em;
  cursor: pointer;
  border-radius: 4rem;
  font-size: 13px;
  border: 1px solid white;
  transition: all ease 0.25s;
}
button.lol.preview-btn.active:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

nav.nav {
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
}
.wrappe {
  position: relative;
  width: 100%;
  min-height: 90vh;
}
.content h1,
.content h1 span {
  font-family: "H";
  line-height: 95%;
  font-size: 4rem;
}

.img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}
.content {
  padding: 15rem 10rem;
  z-index: 1;
  position: relative;
}
.content p {
  font-size: 27px;
  font-style: italic;
  width: 700px;
  font-family: "Poppins";
  font-weight: 300;
  margin: 0.5em 0;
}
.content h1 span {
  font-size: 6rem;
}
.btu {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.bt {
  position: relative;
}
.bg {
  overflow: hidden;
  width: 100%;
}
.fwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fwrap h1 {
  font-family: "HO";
  color: white;
  font-size: 50px;
}

.fwrap {
  background: black;
  padding: 3% 30%;
  color: white;
  gap: 2em;
}

.fwrap p {
  color: white;
}

ul.ls {
  display: flex;
  list-style: none;
  gap: 1.6em;
  color: white;
}

ul.ls li a {
  color: white;
  transition: all ease 0.25s;
}

ul.ls li a:hover {
  color: darkgray;
}
.bt {
  padding: 6% 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bt h1 {
  font-size: 60px;
  font-weight: 200;
  font-family: "H";
  margin-bottom: 3rem;
}

ul.lsd {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 15%;
}

.lsd li {
  display: flex;
  align-items: center;
  background-color: #e2e2e2;
  width: 300px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 1em;
}
ul.lsd {
  row-gap: 2em;
  align-items: center;
  justify-content: center;
}

.lsd li svg {
  font-size: 70px;
  margin: 12% 0;
}
.lcard img {
  width: 150px;
}
.lcard {
  color: white;
  background: black;
  width: 300px;
  margin: 0 1em;
  min-height: 400px;
  border-radius: 5rem;
  padding: 3em;
}

.lcards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  padding: 0 6%;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}
.lcon h1 {
  font-size: 4rem;
  font-family: "H";
  text-align: center;
  margin: 1em 0 0 0;
}

.lcon p {
  text-align: center;
  font-size: 20px;
}
.lcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1em;
}
.prose.max-w-none {
  padding: 3% 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
.tmmate {
  display: flex;
  align-items: center;
  width: 22rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  background: #ebd9c1;
  padding: 1% 2%;
  border-radius: 3rem;
  box-shadow: 0.75em 0.75em 0em 1px #dace8d30;
}
.tmmate img {
  width: 180px;
  border-radius: 25rem;
}
.teams {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
  column-gap: 3em;
  align-items: center;
  justify-content: center;
  margin: 4em 0;
}
p.olo {
  position: absolute;
  left: 8.5%;
  top: 85%;
}
button.dlay {
  padding: 3% 11%;
  font-size: 18px;
  border-radius: 1rem;
  border: 1px rgb(0, 0, 0) solid;
  align-self: center;
  outline: none;
  margin: 0 6%;
  cursor: pointer;
  transition: all ease 0.25s;
}
button.dlay:hover {
  background-color: black;
  color: white;
}

.min-h-screen.bg-gray-100.flex.items-center.justify-center {
  background: black;
  background-size: cover;
  padding: 1% 10%;
  border-radius: 10rem;
}

.bg-white.p-8.shadow-md.w-full.max-w-md {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  color: white;
  border-radius: 7rem;
  padding: 3% 3em;
}

h2.text-2xl.font-bold.mb-6.text-center {
  font-family: "H";
  font-size: 4rem;
  width: 75;
  align-self: start;
}

form div {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 1em;
  width: 100%;
  white-space: nowrap;
  font-weight: 200;
  justify-content: space-between;
}

form div input {
  font-size: 20px;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
  font-weight: 500;
  outline: none;
  stroke: none;
  border: none;
  border-bottom: 2px solid white;
  padding: 0 3em;
  width: 100%;
}

button.w-full.bg-blue-600.text-white.font-bold.py-2.px-4.rounded.focus\:outline-none.focus\:ring-2.focus\:ring-blue-500.hover\:bg-blue-700 {
  padding: 1em 3em;
  font-size: 21px;
  border-radius: 5rem;
  cursor: pointer;
  align-self: flex-start;
  background: transparent;
  border: 2px solid white;
  color: white;
  transition: all ease 0.25s;
}

button.w-full.bg-blue-600.text-white.font-bold.py-2.px-4.rounded.focus\:outline-none.focus\:ring-2.focus\:ring-blue-500.hover\:bg-blue-700:hover{
  background-color: white;
  color: black;
}

form {
  display: flex;
  align-items: center;
  margin: 7% 0;
  gap: 2em;
  flex-direction: column;
  margin-bottom: 2rem;
}

.text-center button {
  background: transparent;
  color: white;
  outline: none;
  stroke: none;
  border: none;
  font-size: 21px;
  margin: 10px 0;
}
.aisa {
  background: linear-gradient(
    45deg,
    orange,
    #c846a8,
    #b64b68,
    #b900ff,
    #e2c6c6
  );
  background-clip: text;
}
.aisa:hover {
  letter-spacing: 0.01em;
}
p.scl {
  position: absolute;
  bottom: 40%;
  left: 10%;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
}
main::after {
  content: " ";
  background: linear-gradient(0deg, #ffffff8a, transparent);
  width: 100%;
  height: 18%;
  display: block;
  position: absolute;
  bottom: 0;
}

.chtbot {
  display: flex;
  flex-direction: row-reverse;
  padding: 1% 5%;
  gap: 3rem;
  position: relative;
  background: black;
  color: white;
}

.chtbot form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}
.chtbot textarea::placeholder[type="text"] {
  font-size: 30px;
}
.chtbot textarea[type="text"] {
  padding: 5% 2em;
  min-width: 350px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  resize: none;
  border-radius: 3rem;
  font-size: 18px;
  z-index: 512;
  height: 240px;
}

button.btnct {
  padding: 7% 15%;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 443;
  font-size: 20px;
  gap: 0.045em;
  display: flex;
  flex-direction: row;
  transition: all ease 0.25s;
  align-self: center;
  border: 1px solid white;
}
button.btnct:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.chtbot::after {
  display: block;
  width: 91rem;
  height: 40rem;
  content: " ";
  position: absolute;
  background: linear-gradient(45deg, blue, orange);
  border-radius: 15rem 0 15rem 0;
  filter: blur(79px) opacity(0.25);
  top: 21%;
  z-index: 0;
}
h1.ask {
  background: black;
  color: white;
  font-family: "H";
  padding: 4% 0 0% 0%;
  text-align: center;
  font-size: 60px;
}
